<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/gallery.css" />
  </head>
  <body>
  	<header>
  		<div class="logo"></div>
  		<nav>  		
  		<ul id="navBox">
  			<li><a href=""><%= nav_title[0] %></a>
  				<div class="nav_title_2">
  				<h3><%= title_2[0] %></h3>
  				<% for (var i = 0 ; i< list_1.length;i++){ %>
  				<p><%= list_1[i] %></p>
  				<%}%>

  				<h3><%= title_2[1] %></h3>

  				<h3><%= title_2[2] %></h3>

  				<h3><%= title_2[3] %></h3>
  				<% for (var i = 0 ; i< list_2.length;i++){ %>
  				<p><%= list_2[i] %></p>
  				<% } %>

  				<h3><%= title_2[4] %></h3>
  				<% for (var i = 0 ; i< list_3.length;i++){ %>
  				<p><%= list_3[i] %></p>
  				<% } %>

  				<h3><%= title_2[5] %></h3>
  				<% for (var i = 0 ; i< list_4.length;i++){ %>
  				<p><%= list_4[i] %></p>
  				<% } %>

  				<h3><%= title_2[6] %></h3>
  				<% for (var i = 0 ; i< list_5.length;i++){ %>
  				<p><%= list_5[i] %></p>
  				<% } %>

  				<h3><%= title_2[7] %></h3>
  				<% for (var i = 0 ; i< list_6.length;i++){ %>
  				<p><%= list_6[i] %></p>
  				<% } %>

  				<h3><%= title_2[8] %></h3>
  				<h3><%= title_2[9] %></h3>

  				<h3><%= title_2[10] %></h3>
  				<% for (var i = 0 ; i< list_7.length;i++){ %>
  				<p><%= list_7[i] %></p>
  				<% } %>

  				<h3><%= title_2[11] %></h3>

  				<h3><%= title_2[12] %></h3>				

  				<h3><%= title_2[13] %></h3>

  				<h3><%= title_2[14] %></h3>
  				<% for (var i = 0 ; i< list_8.length;i++){ %>
  				<p><%= list_8[i] %></p>
  				<% } %>

  				<h3><%= title_2[15] %></h3>
  				<% for (var i = 0 ; i< list_9.length;i++){ %>
  				<p><%= list_9[i] %></p>
  				<% } %>

  				<h3><%= title_2[16] %></h3>
  				<% for (var i = 0 ; i< list_10.length;i++){ %>
  				<p><%= list_10[i] %></p>
  				<% } %>

  				<h3><%= title_2[17] %></h3>  				
  				<% for (var i = 0 ; i< list_11.length;i++){ %>
  				<p><%= list_11[i] %></p>
  				<% } %>

  				<h3><%= title_2[18] %></h3>

  				<h3><%= title_2[19] %></h3>
  				<% for (var i = 0 ; i< list_12.length;i++){ %>
  				<p><%= list_12[i] %></p>
  				<% } %>
  			</div>
  			</li>
  			<li>
  				<a href=""><%= nav_title[1] %></a>
  				<div class="nav_title_3">
  					<ul>
  					<% for(var i =0;i < list2.length ; i++){ %>
  					<li><%= list2[i] %></li>
  				    <%}%>
  				</ul>
  				</div>
  			</li>
  			<li>
  				<a href=""><%= nav_title[2] %></a>
  				<div class="nav_title_4">
  					<ul>
  					<% for(var i =0;i < list3.length ; i++){ %>
  					<li><%= list3[i] %></li>
  				    <%}%>
  				</ul>
  				</div>
  			</li>
  			<li>
  				<a href=""><%= nav_title[3] %></a>
  				<div class="nav_title_4">
  					<ul>
  					<% for(var i =0;i < list3.length ; i++){ %>
  					<li><%= list4[i] %></li>
  				    <%}%>
  				</ul>
  				</div>
  			</li>
  			<li>
  				<a href=""><%= nav_title[4] %></a>
  			</li>
  		</ul>
  		<span><a href="">资讯</a></span>
  		<span><a href="">社区</a></span>
  		<div class="btn"><button type="button">控制台</button></div>
  	</nav>

  	</header>

  	<section>
  		<ul id="gallery">
  			<% for(var i=0;i< gallery.length;i++){ %>
  			<li style="background: url(/images/<%= gallery[i] %>) center; background-size: cover;  "data-index=<%= i %>></li>
  			<%}%>
  		</ul>

	  	 <div class="gallery_bg"></div>

	  	 <div class="swich_icon">
	  	 	<div class="left"></div>
	  	 	<div class="right"></div>
	  	 </div>
	  	 <div id="galButton">
	  	   	<% for(var i=0;i< gallery.length;i++){ %>
	  	   	<div class="gal-btn-list" data-index=<%= i %>>
	  	   		<div class="lineButton"></div>
	  	   		<div class="hoverButton"><%= link_title[i] %></div>
	  	   	</div>
	  	   	<%}%>
	  	   	
	  	   </div>  	   
  	</section>
  	<div id="t_banner">
  		<ul>
  			<% for(var i=0;i< visitTitle.length;i++){ %>
  			<li>
  				<h3>
  					<%= visitTitle[i] %>
  				</h3>
  				<img src="">
  				<span><%= visitTag[i] %></span>
  			</li>
  			<% } %>
  		</ul>
  	</div>

  	<div id="v_presentation">
	  		<div class="videoBox">
	  			<div class="imgCut" style="background: url(/images/v1.jpg) center; background-size: cover;"></div>
	  			<video src="http://hbnm3eqf9mju26279qj.exp.bcevod.com/mda-hkniqyvm0ux67mpy/mda-hkniqyvm0ux67mpy.mp4"></video>
	  			<div class="shaddow"></div>
	  			<div class="playIcon"></div>	  			
	  			<h3>Appllo,驾驶也可以自由仰望星空</h3>
	  		</div>
	  		<div class="videoBox_2">
	  			<div class="slogen">用科技让复杂的世界更简单</div>
	  			<h2>AI改变生活</h2>
	  		</div>
	  		<div class="videoBox">
	  			<div class="imgCut" style="background: url(/images/v2.jpg) center;  background-size: cover;"></div>
	  			<video src="http://hbnm3eqf9mju26279qj.exp.bcevod.com/mda-hkniqz5ntm90q365/mda-hkniqz5ntm90q365.mp4"></video>
	  			<div class="shaddow"></div>
	  			<div class="playIcon"></div>	
	  			<h3>DuerOS，唤醒乐高激发无限创造</h3>
	  		</div>
	  		<div class="videoBox">
	  			<div class="imgCut" style="background: url(/images/v3.jpg) center; background-size: cover;"></div>
	  			<video src="http://hbnm3eqf9mju26279qj.exp.bcevod.com/mda-hkjwubmciaqbekj1/mda-hkjwubmciaqbekj1.mp4"></video>
	  			<div class="shaddow"></div>
	  			<div class="playIcon"></div>	
	  			<h3>人脸，独一无二的身份密码</h3>
	  		</div>
	  		<div class="videoBox">
	  			<div class="imgCut" style="background: url(/images/v4.jpg) center; background-size: cover;"></div>
	  			<video src="http://hbnm3eqf9mju26279qj.exp.bcevod.com/mda-hkjwubetj65aitdq/mda-hkjwubetj65aitdq.mp4"></video>
	  			<div class="shaddow"></div>
	  			<div class="playIcon"></div>	
	  			<h3>AR，虚实融合创所未见</h3>
	  		</div>
	  		<div class="videoBox">
	  			<div class="imgCut" style="background: url(/images/v5.jpg) center; background-size: cover;"></div>
	  			<video src="http://hbnm3eqf9mju26279qj.exp.bcevod.com/mda-hkjwzvmtahakneb3/mda-hkjwzvmtahakneb3.mp4"></video>
	  			<div class="shaddow"></div>
	  			<div class="playIcon"></div>	
	  			<h3>Unit对话机器人，暖心陪伴左右</h3>
	  		</div>
	</div>

	<div id="Introduction">
		<h1><%= ctitle[0] %></h1>
		<div class="icon_items">
			<ul id="line1">
				<% for(var i=0;i < items1.length;i++){ %>
				<li>
					<div class="icon_bg"></div>
					<h4><%= items1[i] %></h4>
				</li>
				<% } %>
			</ul>
			<div class="list_intro" style="display: block; position: relative;">语音识别</div>
			<div class="list_intro">语音合成</div>
			<div class="list_intro">语音唤醒</div>
			<div class="list_intro">文字识别</div>
			<div class="list_intro">人脸识别</div>
		</div>

		<div class="icon_items">
			<ul>
				<% for(var i=0;i < items1.length;i++){ %>
				<li>
					<div class="icon_bg"></div>
					<h4><%= items1[i] %></h4>
				</li>
				<% } %>
			</ul>
			<div class="list_intro">语音识别2</div>
			<div class="list_intro">语音合成2</div>
			<div class="list_intro">语音唤醒2</div>
			<div class="list_intro">文字识别2</div>
			<div class="list_intro">人脸识别2</div>
		</div>

		<h1><%= ctitle[1] %></h1>
		<div class="system">
			<div></div>
			<div></div>
		</div>
	</div>

	<div id="Solution">
		<h1><%= ctitle[2] %></h1>
		<p>无缝对接业务需求，轻松实现方案集成</p>
		<div class="s_show">
			<% for(var i in sBox){ %>
			<div class="s_box">
				<img src="">
				<h2><%= s_title[i] %></h2>
				<span><%= s_note[i] %></span>
			</div>
			<% } %>
		</div>
	</div>


	<div id="Custom">
		<h1><%= ctitle[2] %></h1>

		<ul>
			<% for(var i in c_name){ %>
			<li>
				<img src="">
				<h4><%= c_name[i] %></h4>
			</li>
			<% } %>
		</ul>
		<hr />
		<div></div>
	</div>





	<footer>
		<div class="fNav"></div>
		<div class="copyRight"></div>
	</footer>


  	<script type="text/javascript" src="/javascripts/addLoadEvent.js"></script>
  	<script type="text/javascript" src="/javascripts/default.js"></script>
  </body>
</html>
